log/*
test/*
tmp/*
db/sphinx/development/*
public/uploads/*
public/system/*
public/img/*
public/assets/*
public/static/*
public/sitemap/*
public/sitemap.xml
db/structure.sql
config/application.yml

*.gem
*.gep
*.rbc
*.env
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.DS_STORE
build/
.cache
.vagrant
.sass-cache

# YARD artifacts
.yardoc
_yardoc
doc/
.idea/

app/assets/javascripts/front/client.js
app/assets/stylesheets/front/client.css
npm-debug.*
*.map
node_modules
clientside/node_modules
/app/assets/javascript/front/*
.*
!/.babelrc
!/.prettierrc
!/.nvmrc
!/.editorconfig
!/.gitignore
!/.eslintrc
!/.eslintignore
!/.stylelintrc
!/.rubocop.yml
!/.ruby-version
cron.log
error.log

shakuro_test
shakuro_test_test
