<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="styles.css" type="text/css" />
  </head>
  <body>
    <%= yield %>
    <script src="scripts.js" type="text/javascript"></script>
  </body>
</html>
